/* custom prism.js theme for metarouter, based on https://github.com/PrismJS/prism/blob/master/themes/prism-coy.css */

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-700;
  @apply whitespace-pre;
  @apply text-sm;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  @apply relative;
  @apply mb-10;
  @apply max-w-full;
  @apply overflow-x-auto;
  @apply border border-cloud-green-darkest border-solid rounded-md;
}
.gatsby-highlight {
  @apply relative;
}
.gatsby-highlight:before {
  @apply text-gray-500;
  @apply uppercase;
  @apply absolute;
  @apply text-right;
  @apply z-10;
  content: attr(data-language);
  font-size: 11px;
  right: 0.5rem;
  top: 0.3rem;
}
.gatsby-highlight[data-language='text']:before,
.gatsby-highlight[data-language='bash']:before {
  display: none;
}
.gatsby-highlight[data-language='csharp']:before {
  content: 'c#';
}
.gatsby-highlight[data-language='objectivec']:before {
  content: 'objective-c';
}
pre[class*='language-'] > code {
  @apply relative;
  @apply px-3 pt-5 pb-4;
  border-left: 10px solid theme('colors.cloud-green.lightest');
  box-shadow: -1px 0px 0px 0px theme('colors.cloud-green.lightest'), 0px 0px 0px 1px #eefff8;
  background-color: #fbfbfb;
}

code[class*='language'] {
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  @apply bg-orange-100;
  @apply inline;
  @apply relative;
  @apply whitespace-normal;
  @apply border border-solid border-gray-300 rounded-sm;
  color: theme('colors.enterprise-orange.default');
  padding: 0 0.3rem;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: theme('colors.enterprise-red.darkest');
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: theme('colors.cloud-blue.medium');
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: theme('colors.enterprise-red.darkest');
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: theme('colors.cloud-blue.default');
}

.token.regex,
.token.important {
  color: theme('colors.enterprise-orange.default');
}

.language-css .token.string,
.style .token.string {
  color: theme('colors.enterprise-red.darkest');
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*='language-'].line-numbers.line-numbers {
  padding-left: 0;
}

pre[class*='language-'].line-numbers.line-numbers code {
  padding-left: 3.8em;
}

pre[class*='language-'].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*='language-'][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}

td code,
h1 code,
h2 code,
h3 code,
h4 code {
  @apply bg-transparent !important;
  @apply p-0 !important;
  @apply border-none !important;
}

h1 code,
h2 code,
h3 code,
h4 code {
  color: inherit !important;
}

sub code {
  font-size: inherit !important;
}
