/* headings preceded by content */
p + h1,
ul + h1,
table + h1 {
  @apply mt-12;
}

/* sub headings preceded by headings */
h1 + h2,
h2 + h3 {
  @apply mt-4;
}

/* sub headings preceded by content */
p + h2,
ul + h2,
ol + h2,
table + h2,
p + h3,
ul + h3,
ol + h3,
table + h3 {
  @apply mt-8;
}

/* section content */
main h1,
main h2,
main h3,
main h4 {
  @apply mb-4;
  line-height: 1.1;
}
main h1 {
  @apply text-3xl;
}
main section h1:first-of-type {
  @apply border-b border-solid border-gray-300;
  @apply mb-6;
  padding-bottom: 2px; /* space between border and characters with descenders */
}
main h2 {
  @apply text-2xl;
}
main h3 {
  @apply text-xl;
}
main h4 {
  @apply text-lg;
}
main a {
  @apply text-cloud-blue-medium;
}
main a.anchor.before svg {
  @apply mr-1;
}
main h1 a.anchor.before {
  margin-top: 0.25em;
}
main h2 a.anchor.before {
  margin-top: 0.2em;
}
main h3 a.anchor.before {
  margin-top: 0.15em;
}

main section ul,
main section ol {
  @apply mb-4 ml-6;
}
main section li {
  @apply ml-4 mb-1;
}
main section li p {
  @apply mb-2;
}
main section img {
  @apply max-w-screen-lg;
  @apply mx-auto mt-6 mb-12;
  @apply .w-5/6;
  @apply shadow-md;
  @apply border border-solid rounded-md border-gray-200;
}

main section .warning {
  @apply bg-yellow-200;
  @apply text-sm;
  @apply py-3 px-6;
  @apply mb-8;
  @apply rounded;
}

/* code block followed by an image */
.gatsby-highlight + p > img {
  @apply mt-10;
}

/* page / section table of contents */
main .toc {
  @apply text-xs;
  @apply bg-gray-100 rounded;
  @apply py-3 px-6;
  @apply mb-6;
}

main .toc ul {
  @apply ml-0 mt-1 mb-0;
  list-style-type: '-  ';
}

/* tags displayed under primary header */
main h1.has-tags {
  @apply mb-2 !important;
}
h1.has-tags span {
  display: none;
}
main section .tags {
  @apply p-0;
  @apply m-0 mb-10;
}
main .tags li {
  @apply inline-block;
  @apply rounded;
  @apply bg-gray-600;
  @apply text-gray-100 uppercase;
  @apply m-0 mr-2;
  @apply sans-regular;
  font-size: 11px;
  font-variant: small-caps;
  padding: 1px 5px;
}
main .tags li.enterprise {
  @apply bg-enterprise-orange;
}
main .tags li.cloud {
  @apply bg-cloud-blue-medium;
}
main .tags li.sources {
  @apply bg-mr-purple;
}

/* table footnotes */
main sub {
  @apply leading-normal;
  font-size: 11px;
}

/* markup with classes embedded in markdown */
h1.cloud {
  @apply text-cloud-green-darkest;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to left, theme('colors.cloud-blue.darkest'), theme('colors.cloud-green.default')) 100% 1;
}
h1.enterprise {
  @apply text-enterprise-orange;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(
      to left,
      theme('colors.enterprise-red.darkest'),
      theme('colors.enterprise-orange.default')
    )
    100% 1;
}

main section .content-logo {
  @apply border-0;
  @apply shadow-none;
  @apply float-right;
  width: 100px;
  margin: 0 0 15px 15px;
}

@media (min-width: 1280px) {
  /* sticky TOC in right column for wide screens */
  main .toc {
    @apply absolute;
    @apply bg-transparent !important;
    @apply -mt-10;
    height: calc(100% - 12rem);
    right: -12rem;
    top: 8rem;
    width: 16rem;
  }
  main .toc .toc-sticky {
    @apply sticky;
    top: 4rem;
  }
  main .toc a {
    @apply block;
  }
  main .toc a:hover {
    @apply bg-mr-light-medium;
  }
}
