/* using S3 URLs instead of cdn.metarouter.io to bypass CORS issues */
@font-face {
  font-family: montserrat;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/montserrat/montserrat-light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/montserrat/montserrat-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/montserrat/montserrat-semiBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: podkova;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/podkova/podkova-medium.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/podkova/podkova-regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: podkova;
  src: url('https://meta-cdn.s3.amazonaws.com/web/fonts/podkova/podkova-extraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
.sans-light {
  @apply font-sans;
  @apply font-hairline;
}
.sans-regular {
  @apply font-sans;
  @apply font-medium;
}
.sans-bold {
  @apply font-sans;
  @apply font-black;
}

.serif-light {
  @apply font-serif;
  @apply font-hairline;
}
.serif-regular {
  @apply font-serif;
  @apply font-medium;
}
.serif-bold {
  @apply font-serif;
  @apply font-black;
}
