/* purgecss should ignore everything but tailwind utilities */

/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import './fonts.css';
@import './content-nav.css';
@import './table.css';
@import './content.css';
@import './code.css';
@import './home-page.css';

body,
input,
select,
textarea {
  @apply font-sans;
  @apply text-gray-800;
}

/* base test styles */
h1,
h2,
h3,
h4 {
  @apply serif-bold;
}

b,
strong {
  @apply font-bold;
}
em {
  @apply italic;
}

ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

/* main layout */
html {
  @apply h-full;
}
body {
  overflow-y: scroll;
}
p {
  @apply mb-6;
}

main {
  @apply p-8;
}
main,
header {
  min-width: 30rem;
}

.section-border {
  @apply border-gray-400 border-b border-solid;
  @apply mt-16 -mx-8 mb-8;
}
.section-border:last-of-type {
  @apply border-0;
}

.header-links {
  @apply sans-light;
  @apply my-2;
  @apply text-sm;
  @apply float-right;
}
.header-links li {
  @apply p-2 pr-0 ml-2;
  @apply inline-block;
}

footer {
  @apply text-center text-xs;
}
footer p:first-child {
  @apply pt-4;
  @apply border-t border-solid border-gray-400;
}

#disclaimer {
  @apply text-justify;
}

#hubspot-messages-iframe-container {
  opacity: 0;
  pointer-events: none;
}

/* responsive styles */
@media (min-width: 640px) {
  header {
    min-width: initial;
  }

  .header-links {
    @apply mr-8;
  }

  main {
    @apply p-0;
    margin-left: 16rem;
  }

  /* section containers for each markdown file */
  main section,
  footer {
    @apply relative;
    @apply mx-auto;
    @apply py-24 px-32;
    min-width: 45rem;
    max-width: 58rem;
  }

  .section-border {
    @apply m-0;
  }

  footer {
    @apply px-32 pt-24 pb-12;
  }
}

@media (min-width: 800px) {
  #hubspot-messages-iframe-container {
    opacity: 1;
    pointer-events: initial;
  }
}

@media (min-width: 1280px) {
  main {
    transform: translateX(-8rem);
  }
  main nav,
  .section-border {
    transform: translateX(8rem);
  }

  .home-page main,
  .home-page main nav {
    transform: translateX(0);
  }
}

/* purgecss end ignore */
